@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    
    
}
.logo, li, .btn, a, .sub-btn{
    font-family: "poppins", sans-serif;
}
body{
    background-color: whitesmoke;
    font-family: "poppins", sans-serif;
    
}

.navbar{
    
    background-color: #34495e;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    font-family: "poppins", sans-serif;
   
   
}

.logo{
   margin-right: auto;
    color: white;
    padding: 12px 25px;
    font-size: 20px;
}
.logo a{
    border: 1px  solid white;
    border: 1px solid transparent;
    transition: .5s;
    color: white;
}

.link-list{
    
    float: right;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;


}
.link-list li{
    
   list-style: none;
   padding: 15px 20px;
  
  

}


.link-list li a{ 
    text-decoration: none;
   color: white;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 9px;
    border-radius: 2px;
    
 }
 .link-list li a:hover{ 
    border: 1px  solid white;
    transition: .5s;
     
  }


 .btn{
    padding: 8px 12px;
    border: none;
   background-color: white; 
   border-radius: 50px;
   cursor: pointer;
    margin-right: 12px;
    }

    .btn:hover{
       
       background-color: grey; 
   
       }
    .sctn{
        width: 360px;
        height: 410px;
        margin:auto;
        margin-top: 40px;
       background-color: white;
     text-align: center;
     filter: drop-shadow(0 5px 8px gray);

        
    }
    .heading{
        text-align: center;
        padding: 15px 15px;
    }
    .heading hr{
        margin-top: 10px;
        background-color: black;
    
    }
label{
    display: flex;
    padding-left: 80px;
    margin: auto;
}
.text-field{
    justify-content: center;
     
}

input {

    width: 200px;
    height: 20px;
    border: none;
    border: 1px solid;
    
}


.haveac{
    font-size: 12px;
  
    padding-top: 40px;
}

.term input{
    
    width: 12px;
    
}
.term label{

    font-size: 12px;
}

/* .sub-btn{
    width: 50px;
    height: 30px;
   
    border-radius: 0%;
    border: none;
    background-color:  #1f78cf;
    font-size: 15px;
    color: white;
    margin-left: 90px; 


} */
.home{
    margin-top: 200px;
    text-align: center;
}
.abc{
    font-size: 21px;
    margin-top:20px;
    text-align: center;
}

.chbox{
    margin-top: 10px;
    margin-left: -180px;
}

.term label {
    margin-left: 25px;
    margin-top: -25px;
}

.text-w
{
    font-size: 40px;
}


.banner{
    float: left;
    margin-top: -10px;
    height: 700px;
    width: 100%;
    background-image: url("..//img/ban1.jpg");
    /* background: red; */
    background-size: cover;
    /* opacity: 0.8; */
    animation: mymove 5s infinite;
    
}
  
  @keyframes mymove {
    from {background-image: url("..//img/ban3.jpg");}
    /* from{background: blue;} */
    to {background-image: url("..//img/ban2.jpg");}
    /* to{background: green; */
    }
    .left{
        float: left;
    }
    .right{
        float:right;
    }
    .container-card{
        font-size: 1.3rem;
        color:#fff;
        border: 1px solid black;
        margin:100px auto 100px 100px;
        padding:1em;
        width:40%;
    }
    .container-card h1{
        font-weight:600;
        
    }
    .container-card{
        
        text-decoration:none;
        text-align:left;
        background: #888888a6;
        border: none;
        /* margin:0; */
        padding: 0.7rem 1.5rem;
        overflow:hidden;
        font-size: 1rem;
        border-radius: 15px 15px;
        filter: drop-shadow(0 5px 8px gray);
        
    }
    .container-card button{
        color: white;
        background: #000;
        margin-top: 10px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.9s;
    }
    .container-card button:hover{
        background: white;
        color: #000;
    }
    .container{
        border: none;
        border: 1px solid grey;
        width: 400px;
    }
    .container-card-new button{
        color: white;
        background: #000;
        margin-right: auto;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.9s;
    }
    .container-card-new button:hover{
        background: white;
        color: #000;
        
    }
    .container-card-new {
        color: white;
        float: right;
        margin-right: 10px;
        margin-top: 100px;
        text-decoration:none;
        text-align:left;
        background: #888888a6;
        border: none;
        width: 400px;
        padding: 0.7rem 1.5rem;
        overflow:hidden;
        font-size: 1rem;
        border-radius: 15px 15px;
        filter: drop-shadow(0 5px 8px gray);
        
    }

    .options option{
        background: #34495e;
        color: white;
        text-align: justify;
        font-family: sans-serif;
        user-select: all;
        padding: 100px 10px;
        font-size: larger;
    }

    .options select {
        /* custom */
        padding: 10px 5px;
        column-fill: auto;
        cursor: pointer;
        border: #34495e solid;
    }

    .options label{
        border: white solid;
        font-size: large;
        color: #34495e;
        background-color: lemonchiffon;
    }
    .options button{
        color: white;
        background: #000;
        margin-top: 10px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.9s;
    }
    .options button:hover{
        background: white;
        color: #000;
    }

    .text-field1{
        padding: 0px;
        float: left;
        margin-top: 10px;
        width: auto;
        height: auto;
        justify-content: center;
    }
    .text-field1 li input{
        float: left;
        list-style: none;
            

    }


    .container-card-new1 button{
        color: white;
        background: #000;
        margin-right: auto;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.9s;
    }
    .container-card-new1 button:hover{
        background: white;
        color: #000;
        
    }
    .container-card-new1 {
        color: white;
        float: right;
        margin-left: 10px;
        margin-bottom: 50px;
        text-decoration:none;
        text-align:left;
        background: #888888a6;
        border: none;
        width: 400px;
        padding: 0.7rem 1.5rem;
        overflow:hidden;
        font-size: 1rem;
        border-radius: 15px 15px;
        filter: drop-shadow(0 5px 8px gray);
        
    }
   
.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }